html,
body {
    background: #292929;
    font-family: Arial;
}

.wrapper {
    width: 100%; /* ������ ������ 100%, ����� ������� �� ��������� */
    text-align: center;
}



/*BUTTON*/
.box {
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
    height: 150px;
}


.but_text {
    width: 9em;
    height: auto;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 16px;
    background-color: #292929;
    border-radius: 30em;
    font-size: 15px;
    text-transform: uppercase;
    color: #00a9ff;
    font-family: Arial;
    border: none;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 4px 4px 10px rgb(54, 54, 54), -4px -4px 10px #181818;
    transition: all 0.2s ease;
}

.but_text:hover {
        background-color: #292929;
        color: #ff6a00;
        cursor: pointer;
    }

.but_text:active {
        transform: scale(0.99);
        background-color: #292929;
        box-shadow: inset 4px 4px 10px #1a1a1a, inset -4px -4px 10px #313131;
        cursor: pointer;
    }



/*SPINNER*/

.spinner_box {
    box-shadow: 4px 4px 10px #000000, -4px -4px 10px #1d1d1d;
    border-radius: 100px;
    position: relative;
    width: 100px;
    height: 100px;
}
.spinner {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    position: relative;
    top: 10px;
    z-index: 2;
    width: 80px;
    height: 80px;
}

    .spinner .path {
        stroke: #ff6a00;
        stroke-linecap: round;
        -webkit-animation: dash 1.5s ease-in-out infinite;
        animation: dash 1.5s ease-in-out infinite;
    }

@-webkit-keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}
